{{#if isSettings}}

{{#if user.isMember}}
{{#unless user.isAdmin}}
<section class="verification">
  <form class="vflex" action="/verify-admin" method="POST">
  {{#if failVerifyAdmin}}
  <p>Incorrect code.</p>
  {{/if}}
    <label for="code">Enter admin code</label>
    <input type="text" name="code" id="code">
    <button type="submit">Request admin role</button>
  </form>
</section>
{{/unless}}
{{/if}}

{{#if user}}
<section class="verification">
  <form class="vflex" action="/delete-account" method="POST">
    {{#if failVerifyDelete}}
    <p>Input does not match {{user.username}}</p>
    {{/if}}
    <label>Type <span class="bold">{{user.username}}</span> in order to delete your account</label>
    <input type="text" name="code" placeholder={{user.username}}>
    <button type="submit">🚨 Delete account 🚨</button>
  </form>
</section>
{{/if}}

{{else}}

  {{#if user}}
  {{#unless user.isMember}}
  <section class="verification">
  <form class="vflex" action="/verify-member" method="POST">
  {{#if failVerify}}
  <p>Incorrect code.</p>
  {{/if}}
    <label for="code">Verify your account by entering member code</label>
    <input type="text" name="code" id="code">
    <button type="submit">Verify account</button>
  </form>
  </section>
  {{/unless}}
  {{/if}}

{{/if}}