{{#if isSettings}}

{{#if user.isMember}}
{{#unless user.isAdmin}}
<section class="verification">
  <form class="vflex" action="/verify-admin" method="POST">
  {{#if failVerify}}
  <p>Incorrect code.</p>
  {{/if}}
    <label for="code">Enter admin code</label>
    <input type="text" name="code" id="code">
    <button type="submit">Request admin role</button>
  </form>
</section>
{{/unless}}
{{/if}}

{{else}}

  {{#if user}}
  {{#unless user.isMember}}
  <section class="verification">
  <form class="vflex" action="/verify-member" method="POST">
  {{#if failVerify}}
  <p>Incorrect code.</p>
  {{/if}}
    <label for="code">Verify your account by entering member code</label>
    <input type="text" name="code" id="code">
    <button type="submit">Verify account</button>
  </form>
  </section>
  {{/unless}}
  {{/if}}

{{/if}}