{{#if user}}
{{#unless user.isMember}}
<section class="verification">
  <form class="vflex" action="/verify-member" method="POST">
    <label for="code">Verify your account by entering member code</label>
    <input type="text" name="code" id="code">
    <button type="submit">Verify account</button>
  </form>
</section>
{{/unless}}
{{/if}}